In [2]:
fd = open("record[1].json",'r')
txt = fd.read()
fd.close()

In [3]:
txt

'{"1001": {"name": "Choco Cake", "qn": 34, "pr": 100}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}, "1009": {"name": "Keyboard", "pr": 1999, "qn": 10}}'

In [4]:
import json
records = json.loads(txt)

In [5]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [6]:
#ADD NEW ITEMS

prod_id = str(input("Enter the product id: "))
prod_name = str(input("Enter the product name: "))
prod_pr = int(input("Enter the price of product: "))
prod_qn = int(input("Enter the quantity of the product: "))

records[prod_id] = {'name' : prod_name, 'pr' : prod_pr, 'qn' : prod_qn}

records

Enter the product id: 1010
Enter the product name: Rose
Enter the price of product: 20
Enter the quantity of the product: 40

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Rose', 'pr': 20, 'qn': 40}}

In [7]:
###QUANTITY * 100

prod_id = str(input("Enter the product id: "))
prod_name = str(input("Enter the product name: "))
prod_pr = int(input("Enter the price of product: "))
prod_qn = int(input("Enter the quantity of the product: "))


records[prod_id] = {'name' : prod_name, 'pr' : prod_pr, 'qn' : prod_qn *100}

records

Enter the product id: 1010
Enter the product name: Rose
Enter the price of product: 20
Enter the quantity of the product: 40

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Rose', 'pr': 20, 'qn': 4000}}

In [29]:
#UPDATE THE INVENTARY

prod_id = str(input("Enter the product id: "))
prod_name = str(input("Enter the product name: "))
prod_pr = int(input("Enter the price of product: "))
prod_qn = int(input("Enter the quantity of the product: "))

records[prod_id] = {'name' : prod_name, 'pr' : prod_pr, 'qn' : prod_qn}

js = json.dumps(records)

fd = open("record[1].json",'w')
fd.write(js)
fd.close()

records

Enter the product id: 1030
Enter the product name: Lobsters
Enter the price of product: 720
Enter the quantity of the product: 100

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Rose', 'pr': 20, 'qn': 4000},
 '1011': {'name': 'Tulip', 'pr': 30, 'qn': 40},
 '1012': {'name': 'Lily', 'pr': 30, 'qn': 50},
 '1013': {'name': 'Sunflower', 'pr': 30, 'qn': 100},
 '1014': {'name': 'Daisy', 'pr': 50, 'qn': 50},
 '1015': {'name': 'Jasmine', 'pr': 50, 'qn': 20},
 '1016': {'name': 'Orchid', 'pr': 80, 'qn': 100},
 '1017': {'name': 'lavendars', 'pr': 70, 'qn': 80},
 '1018': {'name': 'Potato', 'pr': 30, 'qn': 100},
 '1019': {'name': 'Onions', 'pr': 50, 'qn': 100},
 '1020': {'name': 'Tomato', 'pr': 60, 'qn': 100},
 '1021': {'name': 'garlic', 'pr': 20, 'qn': 80},
 '1022': {'name': 'ginger', 'pr': 10, 'qn': 50},
 '1023': {'name': 'Peas', 'pr': 30, 'qn': 100},
 '1024': {'name': 'Carrot', 'pr': 40, 'qn': 10},
 '1025': {'name': 'Paneer', 'pr': 120, 'qn': 70},
 '1026': {'name': 'Butter', 'pr': 140, 'qn': 50},
 '1027': {'name': 'Chicken', 'pr': 200, 'qn': 50},
 '1028': {'name': 'Prawns', 'pr': 900, 'qn': 50},
 '1029': {'name': 'Fish', 'pr': 300, 'qn': 100},
 '1030': {'name': 'Lobsters', 'pr': 720, 'qn': 100}}

In [30]:
fd = open("record[1].json",'r')
txt = fd.read()
fd.close()

In [31]:
txt

'{"1001": {"name": "Choco Cake", "qn": 34, "pr": 100}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}, "1009": {"name": "Keyboard", "pr": 1999, "qn": 10}, "1010": {"name": "Rose", "pr": 20, "qn": 4000}, "1011": {"name": "Tulip", "pr": 30, "qn": 40}, "1012": {"name": "Lily", "pr": 30, "qn": 50}, "1013": {"name": "Sunflower", "pr": 30, "qn": 100}, "1014": {"name": "Daisy", "pr": 50, "qn": 50}, "1015": {"name": "Jasmine", "pr": 50, "qn": 20}, "1016": {"name": "Orchid", "pr": 80, "qn": 100}, "1017": {"name": "lavendars", "pr": 70, "qn": 80}, "1018": {"name": "Potato", "pr": 30, "qn": 100}, "1019": {"name": "Onions", "pr": 50, "qn": 100}, "1020": {"name": "Tomato", "pr": 60, "qn": 100}, "1021": {"name": "garlic", "pr": 20, "qn": 80}, "1022": {"name": "ginger", "pr": 10, "qn": 50}, "1023": {"name": "Peas", "pr": 30, "qn": 100}, "1024": {"name": "Carrot", "pr": 40, "qn": 10}, "1025": {"name": "Paneer", "pr": 120, "qn": 70}, "1026": {"name": "Butter", "pr": 140, "qn": 50}, "1027": {"name": "Chicken", "pr": 200, "qn": 50}, "1028": {"name": "Prawns", "pr": 900, "qn": 50}, "1029": {"name": "Fish", "pr": 300, "qn": 100}, "1030": {"name": "Lobsters", "pr": 720, "qn": 100}}'

In [32]:
import json
records = json.loads(txt)
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Rose', 'pr': 20, 'qn': 4000},
 '1011': {'name': 'Tulip', 'pr': 30, 'qn': 40},
 '1012': {'name': 'Lily', 'pr': 30, 'qn': 50},
 '1013': {'name': 'Sunflower', 'pr': 30, 'qn': 100},
 '1014': {'name': 'Daisy', 'pr': 50, 'qn': 50},
 '1015': {'name': 'Jasmine', 'pr': 50, 'qn': 20},
 '1016': {'name': 'Orchid', 'pr': 80, 'qn': 100},
 '1017': {'name': 'lavendars', 'pr': 70, 'qn': 80},
 '1018': {'name': 'Potato', 'pr': 30, 'qn': 100},
 '1019': {'name': 'Onions', 'pr': 50, 'qn': 100},
 '1020': {'name': 'Tomato', 'pr': 60, 'qn': 100},
 '1021': {'name': 'garlic', 'pr': 20, 'qn': 80},
 '1022': {'name': 'ginger', 'pr': 10, 'qn': 50},
 '1023': {'name': 'Peas', 'pr': 30, 'qn': 100},
 '1024': {'name': 'Carrot', 'pr': 40, 'qn': 10},
 '1025': {'name': 'Paneer', 'pr': 120, 'qn': 70},
 '1026': {'name': 'Butter', 'pr': 140, 'qn': 50},
 '1027': {'name': 'Chicken', 'pr': 200, 'qn': 50},
 '1028': {'name': 'Prawns', 'pr': 900, 'qn': 50},
 '1029': {'name': 'Fish', 'pr': 300, 'qn': 100},
 '1030': {'name': 'Lobsters', 'pr': 720, 'qn': 100}}

In [33]:
#PURCHASE

prod_id = str(input("Enter the product id: "))
prod_qnty = int(input("Enter the product quantity: "))
print("*********************")
print("Product name: ",records[prod_id]['name'])
print("Price: ",records[prod_id]['pr'])
print("---------------------")
print("Amount: ",records[prod_id]['pr']*prod_qnty)
print("*********************")

records[prod_id]['qn'] = records[prod_id]['qn'] - prod_qnty

records

Enter the product id: 1030
Enter the product quantity: 5
*********************
Product name:  Lobsters
Price:  720
---------------------
Amount:  3600
*********************

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Rose', 'pr': 20, 'qn': 4000},
 '1011': {'name': 'Tulip', 'pr': 30, 'qn': 40},
 '1012': {'name': 'Lily', 'pr': 30, 'qn': 50},
 '1013': {'name': 'Sunflower', 'pr': 30, 'qn': 100},
 '1014': {'name': 'Daisy', 'pr': 50, 'qn': 50},
 '1015': {'name': 'Jasmine', 'pr': 50, 'qn': 20},
 '1016': {'name': 'Orchid', 'pr': 80, 'qn': 100},
 '1017': {'name': 'lavendars', 'pr': 70, 'qn': 80},
 '1018': {'name': 'Potato', 'pr': 30, 'qn': 100},
 '1019': {'name': 'Onions', 'pr': 50, 'qn': 100},
 '1020': {'name': 'Tomato', 'pr': 60, 'qn': 100},
 '1021': {'name': 'garlic', 'pr': 20, 'qn': 80},
 '1022': {'name': 'ginger', 'pr': 10, 'qn': 50},
 '1023': {'name': 'Peas', 'pr': 30, 'qn': 100},
 '1024': {'name': 'Carrot', 'pr': 40, 'qn': 10},
 '1025': {'name': 'Paneer', 'pr': 120, 'qn': 70},
 '1026': {'name': 'Butter', 'pr': 140, 'qn': 50},
 '1027': {'name': 'Chicken', 'pr': 200, 'qn': 50},
 '1028': {'name': 'Prawns', 'pr': 900, 'qn': 50},
 '1029': {'name': 'Fish', 'pr': 300, 'qn': 100},
 '1030': {'name': 'Lobsters', 'pr': 720, 'qn': 95}}

In [41]:
js = json.dumps(records)

fd = open("record[1].json",'w')
fd.write(js)
fd.close()

In [42]:
fd = open("record[1].json",'r')
r = fd.read()
fd.close()
r

'{"1001": {"name": "Choco Cake", "qn": 34, "pr": 100}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}, "1009": {"name": "Keyboard", "pr": 1999, "qn": 10}, "1010": {"name": "Rose", "pr": 20, "qn": 4000}, "1011": {"name": "Tulip", "pr": 30, "qn": 40}, "1012": {"name": "Lily", "pr": 30, "qn": 50}, "1013": {"name": "Sunflower", "pr": 30, "qn": 100}, "1014": {"name": "Daisy", "pr": 50, "qn": 50}, "1015": {"name": "Jasmine", "pr": 50, "qn": 20}, "1016": {"name": "Orchid", "pr": 80, "qn": 100}, "1017": {"name": "lavendars", "pr": 70, "qn": 80}, "1018": {"name": "Potato", "pr": 30, "qn": 100}, "1019": {"name": "Onions", "pr": 50, "qn": 100}, "1020": {"name": "Tomato", "pr": 60, "qn": 100}, "1021": {"name": "garlic", "pr": 20, "qn": 80}, "1022": {"name": "ginger", "pr": 10, "qn": 50}, "1023": {"name": "Peas", "pr": 30, "qn": 100}, "1024": {"name": "Carrot", "pr": 40, "qn": 10}, "1025": {"name": "Paneer", "pr": 120, "qn": 70}, "1026": {"name": "Butter", "pr": 140, "qn": 50}, "1027": {"name": "Chicken", "pr": 200, "qn": 50}, "1028": {"name": "Prawns", "pr": 900, "qn": 50}, "1029": {"name": "Fish", "pr": 300, "qn": 100}, "1030": {"name": "Lobsters", "pr": 720, "qn": 95}}'

In [43]:
import json
records = json.loads(r)
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Rose', 'pr': 20, 'qn': 4000},
 '1011': {'name': 'Tulip', 'pr': 30, 'qn': 40},
 '1012': {'name': 'Lily', 'pr': 30, 'qn': 50},
 '1013': {'name': 'Sunflower', 'pr': 30, 'qn': 100},
 '1014': {'name': 'Daisy', 'pr': 50, 'qn': 50},
 '1015': {'name': 'Jasmine', 'pr': 50, 'qn': 20},
 '1016': {'name': 'Orchid', 'pr': 80, 'qn': 100},
 '1017': {'name': 'lavendars', 'pr': 70, 'qn': 80},
 '1018': {'name': 'Potato', 'pr': 30, 'qn': 100},
 '1019': {'name': 'Onions', 'pr': 50, 'qn': 100},
 '1020': {'name': 'Tomato', 'pr': 60, 'qn': 100},
 '1021': {'name': 'garlic', 'pr': 20, 'qn': 80},
 '1022': {'name': 'ginger', 'pr': 10, 'qn': 50},
 '1023': {'name': 'Peas', 'pr': 30, 'qn': 100},
 '1024': {'name': 'Carrot', 'pr': 40, 'qn': 10},
 '1025': {'name': 'Paneer', 'pr': 120, 'qn': 70},
 '1026': {'name': 'Butter', 'pr': 140, 'qn': 50},
 '1027': {'name': 'Chicken', 'pr': 200, 'qn': 50},
 '1028': {'name': 'Prawns', 'pr': 900, 'qn': 50},
 '1029': {'name': 'Fish', 'pr': 300, 'qn': 100},
 '1030': {'name': 'Lobsters', 'pr': 720, 'qn': 95}}

In [78]:
sale = {}

In [106]:
#SALES
prod_id = str(input("Enter the product id: "))
qnty = int(input("Enter the product quantity: "))
{(len(sale) + 1) : {'prod' : prod_id, 'qn' : qnty, 'amount' : records[prod_id]['pr']*qnty}}

Enter the product id: 1030
Enter the product quantity: 5

{10: {'amount': 3600, 'prod': '1030', 'qn': 5}}

In [107]:
sale[(len(sale) + 1)] = {'prod' : prod_id, 'qn' : qnty, 'amount' : records[prod_id]['pr']*qnty}

In [108]:
sale

{1: {'amount': 400, 'prod': '1001', 'qn': 4},
 2: {'amount': 16000, 'prod': '1002', 'qn': 20},
 3: {'amount': 40, 'prod': '1005', 'qn': 2},
 4: {'amount': 100, 'prod': '1010', 'qn': 5},
 5: {'amount': 150, 'prod': '1012', 'qn': 5},
 6: {'amount': 500, 'prod': '1015', 'qn': 10},
 7: {'amount': 1200, 'prod': '1020', 'qn': 20},
 8: {'amount': 100, 'prod': '1021', 'qn': 5},
 9: {'amount': 140, 'prod': '1026', 'qn': 1},
 10: {'amount': 3600, 'prod': '1030', 'qn': 5}}

In [109]:
js = json.dumps(sale)

fd = open("sale.json",'w')
fd.write(js)
fd.close()

In [110]:
fd = open("sale.json",'r')
r = fd.read()
fd.close()
r

'{"1": {"prod": "1001", "qn": 4, "amount": 400}, "2": {"prod": "1002", "qn": 20, "amount": 16000}, "3": {"prod": "1005", "qn": 2, "amount": 40}, "4": {"prod": "1010", "qn": 5, "amount": 100}, "5": {"prod": "1012", "qn": 5, "amount": 150}, "6": {"prod": "1015", "qn": 10, "amount": 500}, "7": {"prod": "1020", "qn": 20, "amount": 1200}, "8": {"prod": "1021", "qn": 5, "amount": 100}, "9": {"prod": "1026", "qn": 1, "amount": 140}, "10": {"prod": "1030", "qn": 5, "amount": 3600}}'

In [111]:
import json
sale = json.loads(r)
sale

{'1': {'amount': 400, 'prod': '1001', 'qn': 4},
 '10': {'amount': 3600, 'prod': '1030', 'qn': 5},
 '2': {'amount': 16000, 'prod': '1002', 'qn': 20},
 '3': {'amount': 40, 'prod': '1005', 'qn': 2},
 '4': {'amount': 100, 'prod': '1010', 'qn': 5},
 '5': {'amount': 150, 'prod': '1012', 'qn': 5},
 '6': {'amount': 500, 'prod': '1015', 'qn': 10},
 '7': {'amount': 1200, 'prod': '1020', 'qn': 20},
 '8': {'amount': 100, 'prod': '1021', 'qn': 5},
 '9': {'amount': 140, 'prod': '1026', 'qn': 1}}